/* 공통 클래스 */
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1310px;
  margin: 0 auto;
  @media screen and (max-width: 1310px) {
    padding: 0 30px;
  }
}
#observer {
  background: #fff;
  z-index: 10;
  position: relative;
}
.section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  .title-box {
    .menu {
      font-size: 15px;
      font-weight: 500;
      color: $gray3;
    }
    .title {
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      .point-color {
        color: $point3;
      }
    }
    .sub-title {
      margin-top: 15px;
      font-weight: 500;
    }
  }
}

/* header */
.header {
  box-shadow: 0px 0px 4px $gray3;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 72px;

    h1 {
      display: flex;
      align-items: center;
      gap: 7px;
      font-size: 20px;
      font-weight: bold;
      img {
        width: 35px;
      }
    }
    .menu-box {
      position: relative;
      .moving-bar {
        position: absolute;
        left: 0;
        right: 360px;
        background: $point4;
        height: 2px;
        bottom: -2px;
        transition: 0.2s;
      }
    }
    .menu {
      display: flex;
      gap: 10px;
      width: 360px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.2s;
      li {
        text-align: center;
        width: calc(25% - 7.5px);
        &::before {
          display: block;
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #fff;
        }
        &:hover {
          color: $point2;
          display: flex;
          flex-flow: column;
          align-items: center;
          &::before {
            background-color: $point3;
          }
        }
      }
    }
  }
  .clickEmail {
    position: relative;
    .send-email {
      width: 20px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.2);
        filter: brightness(3);
      }
    }
  }
  #notification {
    z-index: 999;
    display: none;
    font-size: 15px;
    margin-top: 10px;
    padding: 10px;
    background-color: #65b277;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    @media screen and (max-width: 1310px) {
      right: -48px;
    }
  }
}
.header-hide-box {
  height: 72px;
}
/* banner */
.main-banner-sec {
  height: 600px;
  color: #000;
  overflow: hidden;
  position: relative;
  .banner-img {
    animation: zoom 7s ease-in-out forwards;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  h2 {
    line-height: 1.4;
    padding-top: 130px;
    font-size: 53px;
    font-weight: 600;
  }
  p {
    padding-top: 48px;
    font-size: 15px;
    font-weight: 500;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.whoarewe {
  padding-top: 140px;
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
  .whoarewe-list {
    max-width: 654px;
    h4 {
      margin-top: 5px;
      font-size: 48px;
      font-weight: 500;
    }
    p {
      font-size: 16px;
      color: $gray3;
      margin-top: 10px;
      word-spacing: -1px;
    }
    li:not(:first-child) {
      margin-top: 148px;
    }
  }
}
// 스마트 공장
.factory {
  border-top: 1px solid $gray4;
  display: block;
  margin-top: 100px;
  .title-box {
    width: 100%;
    margin-top: 100px;
  }
  .factory-list {
    li {
      position: relative;
      margin-top: 55px;
      width: 100%;
      overflow: hidden;
    }
    margin-top: 10px;
  }
  &-text {
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-right: auto;
    margin-left: 0;
    &.reverse {
      width: 50%;
      margin-right: 0;
      margin-left: auto;
    }
    span {
      font-size: 14px;
      font-weight: 500;
      color: $point2;
      margin-bottom: 5px;
    }
    h4 {
      font-weight: bold;
      font-size: 36px;
    }
    p {
      font-size: 14px;
      margin-top: 10px;
      color: $gray2;
    }
  }

  .img-box {
    position: absolute;
    right: 0;
    top: 0;
    height: 430px;
    overflow: hidden;
    width: 50%;
    &.reverse {
      right: auto;
      left: 0;
    }
    img {
      display: flex;
      margin-left: auto;
    }
  }
}

.drone {
  background: url("../img/SmartDroneBg.png") no-repeat center / cover;
  color: #fff;
  height: 560px;
  margin-top: 100px;
  background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
  margin-bottom: 165px;
  .title-box {
    display: flex;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 16px;
    border-bottom: 2px solid #fff;
    justify-content: space-between;
    margin-bottom: 40px;
    h3 {
      font-weight: 500;
      font-size: 36px;
    }
    .right-text {
      text-align: right;
    }
    h4 {
      font-weight: bold;
      font-size: 32px;
    }
    p {
      font-size: 16px;
      margin-top: 6px;
      font-weight: bold;
      color: $gray3;
    }
  }
  .drone-list {
    display: flex;
    gap: 65px;
    li {
      height: 425px;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      word-break: keep-all;
      @media screen and (min-width: 768px) {
        &:hover img {
          top: 180px;
        }
      }
    }
    h5 {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
    span {
      display: block;
      text-align: center;
      font-size: 14px;
      color: $point3;
      margin-bottom: 12px;
    }
    p {
      font-size: 16px;
      padding: 0 10px;
      max-width: 350px;
    }
    img {
      position: absolute;
      width: 350px;
      top: 70px;
      transition: 0.2s;
    }
  }
}

.smartFarm {
  background-color: #222;
  padding: 126px 0;
  @media screen and (max-width: 1310px) {
    padding: 50px 30px;
  }
  .title-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    .sub-title {
      color: #767676;
      margin-bottom: 5px;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }
    .title {
      color: #fff;
      font-size: 36px;
      font-weight: bold;
      text-shadow: 5px 4px 2px black;
    }
    img {
      width: 40px;
    }
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1310px;
    margin-top: 72px;
    word-break: keep-all;
  }

  .cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }

  .col {
    width: calc(33.33% - 20px);
    cursor: pointer;
  }

  .container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    padding: 0;
  }

  .front,
  .back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
      -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
  }

  .back {
    background: #cedce7;
  }

  .front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    opacity: 0.6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back {
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
      -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
  }

  .container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    .inner {
      color: #000;
    }
  }

  .container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .front .inner p {
    font-size: 20px;
    margin-bottom: 2rem;
    position: relative;
  }

  .front .inner p:after {
    content: "";
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #c6d4df;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -0.75rem;
  }

  .front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
  }

  @media screen and (max-width: 64rem) {
    .col {
      width: calc(33.333333% - 2rem);
    }
  }
  // @media screen and (max-width: 48rem) {
  //   .col {
  //     width: calc(50% - 2rem);
  //   }
  // }
  // @media screen and (max-width: 32rem) {
  //   .col {
  //     width: 100%;
  //     margin: 0 0 2rem 0;
  //   }
  // }
}

.smart-last {
  padding: 90px 0;
  background-image: url("../img/lastbg.png");
  background-repeat: no-repeat; /* 배경이미지X */
  background-position: 3px 100%; /* 이미지를 요소의 정가운데로 처리 */
  background-size: 389px 370px;
  word-break: keep-all;
  .container {
    display: flex;
  }
  .title {
    font-size: 36px;
    font-weight: bold;
    width: 45%;
    .point-color {
      color: #388ba4;
    }
  }
  &-list {
    width: 55%;
    border-top: 2px solid #222;
    li {
      padding: 23px 43px;
      border-bottom: 1px solid #e1e1e1;
      .title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        img {
          width: 25px;
        }
      }
      p {
        display: none;
        padding-top: 20px;
      }
    }
  }
}

.footer {
  background-color: #1c1c1c;
  color: #fff;
  .main-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 75px;
    a {
      color: #fff;
    }
  }
  .menu-list {
    display: flex;
    gap: 15px;
    font-weight: bold;
    font-size: 13px;
  }
  .company-list {
    margin-top: 26px;
    color: #969696;
    font-size: 12px;
    font-weight: 500;
  }
  .right-cont {
    p {
      font-size: 13px;
      font-weight: bold;
    }
    span {
      margin-top: 20px;
      font-size: 12px;
      font-weight: 500;
      color: #969696;
    }
  }
  .sub-footer {
    border-top: 1px solid #252525;
    padding: 20px 0;
    .container {
      display: flex;
      justify-content: space-between;
    }
    p {
      font-size: 12px;
      font-weight: bold;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
}

// 반응형 시작
@media screen and (max-width: 1200px) {
  .section .title-box .title {
    font-size: 32px;
    line-height: 42px;
  }
  .main-banner-sec {
    height: 350px;
    h2 {
      font-size: 36px;
    }
    p {
      padding-top: 20px;
    }
  }
  // 섹션1
  .whoarewe {
    padding-top: 50px;
    .container {
      flex-direction: column;
      gap: 55px;
      .whoarewe-list {
        max-width: none;
      }
    }
    .whoarewe-list li:not(:first-child) {
      margin-top: 55px;
    }
  }
  .whoarewe .whoarewe-list h4 {
    font-size: 32px;
    margin-top: 10px;
  }
  .whoarewe .whoarewe-img {
    height: 200px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      bottom: -35%;
    }
  }
  .factory,
  .factory .title-box {
    margin-top: 50px;
  }
  .factory-text {
    height: 200px;
    h4 {
      font-size: 32px;
      font-weight: 500;
    }
  }
  .factory .img-box {
    height: 200px;
  }
  // 섹션3
  .drone {
    height: 540px;
    margin-top: 50px;
    margin-bottom: 50px;
    .title-box {
      padding-top: 50px;
    }
    .drone-list {
      gap: 25px;
      li {
        height: 315px;
      }
      img {
        filter: brightness(20%);
      }
      p {
        position: relative;
        z-index: 1;
        padding: 10px;
      }
    }
  }
  .smartFarm .wrapper {
    margin-top: 50px;
  }
  .smartFarm .front .inner span,
  .smartFarm .inner {
    font-size: 15px;
  }
  //섹션4
  .smart-last {
    padding: 50px 0;
    .title {
      width: 100%;
    }
    .container {
      flex-direction: column;
      gap: 20px;
    }
  }
  .smart-last-list {
    width: 100%;
  }
}

// 반응형 모바일 767이하
.mobile-menu-list {
  height: 0;
  transition: 0.2s;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background-color: #fff;
  li {
    background-color: #eee;
    text-align: center;
    a {
      display: block;
      padding: 10px;
      font-size: 16px;
    }
    & + li {
      border-top: 1px solid #fff;
    }
  }
}
.mobile-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-box {
    display: none;
  }
  .icon-list {
    display: flex;
    gap: 20px;
  }
  .header .clickEmail .send-email {
    width: 30px;
  }
  .mobile-menu {
    display: block;
    img {
      width: 30px;
    }
  }
  // 섹션2
  .factory-text {
    height: auto;
    margin-right: auto;
    width: auto;
    &.reverse {
      width: auto;
    }
  }
  .factory {
    margin-top: 50px;
    .title-box {
      margin-top: 50px;
    }
    .img-box {
      margin-top: 10px;
      position: relative;
      height: 200px;
      width: 100%;
      img {
        position: absolute;
        bottom: -30%;
      }
    }
  }
  .drone {
    height: 500px;
    .title-box h4 {
      font-size: 24px;
    }
    .drone-list {
      h5 {
        font-size: 20px;
        font-weight: 500;
      }
      span {
        font-size: 14px;
        margin-bottom: 6px;
      }
      p {
        font-size: 14px;
      }
      img {
        top: 55px;
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .drone .title-box {
    margin-bottom: 30px;
    .right-text {
      min-width: 250px;
    }
  }
  .drone .drone-list {
    flex-wrap: wrap;
    p {
      max-width: none;
      padding: 0;
    }
    li {
      word-break: keep-all;
      align-items: flex-start;
      height: auto;
    }
    img {
      display: none;
    }
  }
  .smartFarm .col {
    width: 100%;
    margin: 0;
  }
  // 풋터
  .footer .main-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 560px) {
  .header .container {
    min-height: 50px;
  }
  .header-hide-box {
    height: 50px;
  }
  .main-banner-sec .banner-img {
    filter: brightness(1.15);
  }
  .main-banner-sec h2 {
    padding-top: 100px;
    font-size: 6vw;
  }
  // 섹션 1
  .section .title-box {
    .title {
      font-size: 6vw;
      line-height: 1.3;
    }
    .sub-title {
      margin-top: 5px;
      font-size: 14px;
    }
  }
  .whoarewe {
    .container {
      gap: 0;
    }
    .whoarewe-list {
      h4 {
        font-size: 24px;
      }
      p {
        font-size: 14px;
        word-break: keep-all;
        br {
          display: none;
        }
      }
    }
    .whoarewe-list li:not(:first-child) {
      margin-top: 20px;
    }
  }
  // 공장
  .factory,
  .factory .title-box {
    margin-top: 20px;
  }
  .factory .factory-list li {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  .factory-text h4 {
    font-size: 24px;
  }
  .factory-text p {
    font-size: 14px;
  }
  // 드론
  .drone {
    height: auto;
    padding-bottom: 20px;
    .title-box {
      padding-top: 20px;
      margin-bottom: 10px;
      h3 {
        font-size: 6vw;
        min-width: 150px;
      }
      .right-text {
        min-width: 200px;
      }
      h4 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        margin-top: 0;
      }
    }
  }
  .drone .drone-list {
    gap: 20px;
    span {
      margin-bottom: 0;
    }
  }
  // 스마트팜
  .smartFarm {
    padding: 20px 30px;
  }
  .smartFarm .wrapper {
    margin-top: 20px;
  }
  .smartFarm .front,
  .smartFarm .back {
    min-height: 200px;
  }
  .smartFarm .title-box .title {
    font-size: 6vw;
  }
  // 스마트화
  .smart-last .title {
    font-size: 6vw;
  }
  .smart-last-list li {
    padding: 15px 0;
  }
  // 풋터
  .footer .main-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .title-box {
    margin-bottom: 20px;
  }
  .smart-last-list li .title-box {
    margin-bottom: 0;
  }
  .container {
    padding: 0 15px;
  }
  .main-banner-sec p {
    font-size: 14px;
    word-break: keep-all;
  }
  .main-banner-sec {
    height: 100vh;
    h2,
    p {
      color: #fff;
    }
  }
  .main-banner-sec p {
    padding-top: 10px;
  }
  .whoarewe {
    padding-top: 30px;
  }
  .whoarewe .whoarewe-img img {
    bottom: 0;
  }
  .smartFarm {
    padding: 20px 15px;
  }
}
@media screen and (max-width: 400px) {
  .section .title-box .title {
    word-break: keep-all;
    br {
      display: none;
    }
  }
  .factory .img-box img {
    bottom: 0;
  }
}
@media screen and (max-width: 380px) {
  .whoarewe .whoarewe-list h4 {
    word-break: keep-all;
  }
  .whoarewe .whoarewe-list h4,
  .factory-text h4 {
    font-size: 6vw;
  }
  .smartFarm .title-box img {
    width: 20px;
  }
  .drone {
    margin-bottom: 10px;
  }
  .drone .title-box .right-text {
    display: none;
  }
  .smartFarm .front .inner p {
    font-size: 16px;
    font-weight: bold;
  }
  .smart-last-list li {
    padding: 10px 0;
    font-size: 14px;
  }
  .title-box {
    margin-bottom: 10px;
  }
  .factory .factory-list {
    margin-top: 0;
  }
  .whoarewe .whoarewe-img,
  .factory .img-box {
    height: auto;
    img {
      position: static;
    }
  }
}
@media screen and (max-width: 320px) {
  .header .container h1 {
    font-size: 16px;
  }
  .header .clickEmail .send-email,
  .mobile-menu img {
    width: 20px;
  }
  .section .title-box .menu,
  .drone .drone-list span {
    font-size: 12px;
  }
  .factory-text span {
    margin-bottom: 0;
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  .whoarewe {
    padding-top: 6vw;
  }
  .footer .menu-list {
    font-size: 4vw;
  }
}
@media screen and (max-width: 280px) {
}
