body {
  min-width: 1200px; // 임시용
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  .sec-title {
    font-size: 48px;
    font-weight: bold;
    padding-top: 70px;
  }
  .sec-subTitle {
    margin-top: 10px;
    font-size: 20px;
    color: #888;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  z-index: 999;
  .header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1365px;
  }
  .menu-box {
    display: flex;
    gap: 30px;
  }
  .logo {
    img {
      width: 77px;
    }
  }
  .menu {
    display: flex;
    gap: 40px;
    font-size: 16px;
    li {
      transition: 0.2s;
      &:hover a {
        color: #0380b3;
      }
    }
  }
  .iconList {
    img {
      width: 32px;
      cursor: pointer;
    }
  }
}

.banner-slider {
  position: relative;
  &.slick-dotted.slick-slider {
    margin-bottom: -7px;
  }
  .slick-next:before,
  .slick-prev:before {
    color: gray;
  }
  .slick-next {
    right: 20px;
  }
  .slick-prev {
    left: 20px;
  }
  .slick-dots {
    bottom: 20px;
  }
  .slide {
    height: 810px;
    position: relative;
    > div {
      position: absolute;
      top: calc(50% - 130px);
      left: 70px;
      z-index: 1;
      text-shadow: 0px 0px 10px #fff;
      h2 {
        font-size: 64px;
        font-weight: bold;
      }
      p {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 500;
      }
    }
    > img {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 800px;
    }
  }
}

.whoWeAre {
  background-color: #05224c;
  padding: 25px 0;
  p,
  h3,
  span {
    color: #fff;
  }
  .container {
    display: flex;
    align-items: center;
  }
  .title-box {
    span {
      font-size: 14px;
    }
    h3 {
      font-size: 48px;
      font-weight: bold;
    }
  }
  div > p {
    font-size: 24px;
    margin-top: 50px;
    font-weight: 500;
  }
  ul {
    display: flex;
    flex-flow: wrap;
    max-width: 400px;
    gap: 17px;
    li:first-child {
      width: 187px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      img {
        width: 105px;
      }
    }
    img {
      width: 187px;
    }
  }
}

.business_cards {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  h4,
  p {
    color: #fff;
  }
  h4 {
    font-size: 24px;
    font-weight: 400;
    padding: 0 20px;
    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 3px;
      margin-top: 20px;
      background-color: #fff;
    }
  }
  p {
    padding: 0 20px 20px;
    margin-top: 12px;
    font-size: 16px;
  }
  li {
    padding: 48px 0 0;
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 10px);
  }
  li:first-child {
    background-color: #000;
  }
  li:nth-child(2) {
    background-color: #152259;
  }
  li:last-child {
    background-color: #0380b3;
  }
  img {
    margin-top: auto;
  }
}
.history {
  .his-content {
    margin-top: 30px;
    font-size: 16px;
    padding: 0 20px;
    color: #888;
  }
  .his-list {
    display: flex;
    margin-top: 60px;
    padding: 0 25px;
    height: 250px;
    li {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      .his-list2 {
        padding: 0 20px;
        box-sizing: border-box;
        width: 100%;
      }
      &:nth-child(even) {
        .date {
          background-color: #4f93cf;
          .line {
            background: #4f93cf;
            &::after {
              background-color: #4f93cf;
            }
          }
        }
      }
    }
    .date {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 77px;
      height: 77px;
      border-radius: 50%;
      background-color: #162c89;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      position: relative;
      .line {
        width: 1px;
        height: 200px;
        background: #162c89;
        position: absolute;
        left: 0;
        bottom: 38px;
        &::after {
          content: "";
          display: block;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #162c89;
          position: absolute;
          top: 0;
          left: -3px;
        }
      }
    }
  }
}
.vision-list {
  margin-top: 60px;
  display: flex;
  background: url(../img/vision_bg.png);
  background-size: cover;
  li {
    height: 270px;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: 0.2s;
    &:hover {
      background-color: #fff;
      box-shadow: 0 0 0 2px #333;
      h5 {
        color: #0380b3;
      }
    }

    h5 {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      font-weight: 500;
    }
    span {
      color: #888;
      font-weight: bold;
      font-size: 16px;
      margin-top: auto;
    }
  }
}

footer {
  margin-top: 100px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 60px;
}
.scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 0;
  border: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.clickEmail {
  position: relative;
}
#notification {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.DeSEMS {
  &-title {
    margin-top: 20px;
    font-size: 20px;
    color: #162c89;
  }
  &-subTitle {
    color: #111;
    margin-top: 5px;
    font-size: 16px;
  }
  &-content {
    color: #888;
    margin-top: 5px;
    font-size: 14px;
  }
  &-img {
    max-width: 800px;
    margin: 20px auto;
    max-height: 500px;
  }
}
