body {
  min-width: 1200px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
.container .sec-title {
  font-size: 48px;
  font-weight: bold;
  padding-top: 70px;
}
.container .sec-subTitle {
  margin-top: 10px;
  font-size: 20px;
  color: #888;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  z-index: 999;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1365px;
}
header .menu-box {
  display: flex;
  gap: 30px;
}
header .logo img {
  width: 77px;
}
header .menu {
  display: flex;
  gap: 40px;
  font-size: 16px;
}
header .menu li {
  transition: 0.2s;
}
header .menu li:hover a {
  color: #0380b3;
}
header .iconList img {
  width: 32px;
  cursor: pointer;
}

.banner-slider {
  position: relative;
}
.banner-slider.slick-dotted.slick-slider {
  margin-bottom: -7px;
}
.banner-slider .slick-next:before,
.banner-slider .slick-prev:before {
  color: gray;
}
.banner-slider .slick-next {
  right: 20px;
}
.banner-slider .slick-prev {
  left: 20px;
}
.banner-slider .slick-dots {
  bottom: 20px;
}
.banner-slider .slide {
  height: 810px;
  position: relative;
}
.banner-slider .slide > div {
  position: absolute;
  top: calc(50% - 130px);
  left: 70px;
  z-index: 1;
  text-shadow: 0px 0px 10px #fff;
}
.banner-slider .slide > div h2 {
  font-size: 64px;
  font-weight: bold;
}
.banner-slider .slide > div p {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
}
.banner-slider .slide > img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 800px;
}

.whoWeAre {
  background-color: #05224c;
  padding: 25px 0;
}
.whoWeAre p,
.whoWeAre h3,
.whoWeAre span {
  color: #fff;
}
.whoWeAre .container {
  display: flex;
  align-items: center;
}
.whoWeAre .title-box span {
  font-size: 14px;
}
.whoWeAre .title-box h3 {
  font-size: 48px;
  font-weight: bold;
}
.whoWeAre div > p {
  font-size: 24px;
  margin-top: 50px;
  font-weight: 500;
}
.whoWeAre ul {
  display: flex;
  flex-flow: wrap;
  max-width: 400px;
  gap: 17px;
}
.whoWeAre ul li:first-child {
  width: 187px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.whoWeAre ul li:first-child img {
  width: 105px;
}
.whoWeAre ul img {
  width: 187px;
}

.business_cards {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
.business_cards h4,
.business_cards p {
  color: #fff;
}
.business_cards h4 {
  font-size: 24px;
  font-weight: 400;
  padding: 0 20px;
}
.business_cards h4::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin-top: 20px;
  background-color: #fff;
}
.business_cards p {
  padding: 0 20px 20px;
  margin-top: 12px;
  font-size: 16px;
}
.business_cards li {
  padding: 48px 0 0;
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 10px);
}
.business_cards li:first-child {
  background-color: #000;
}
.business_cards li:nth-child(2) {
  background-color: #152259;
}
.business_cards li:last-child {
  background-color: #0380b3;
}
.business_cards img {
  margin-top: auto;
}

.history .his-content {
  margin-top: 30px;
  font-size: 16px;
  padding: 0 20px;
  color: #888;
}
.history .his-list {
  display: flex;
  margin-top: 60px;
  padding: 0 25px;
  height: 250px;
}
.history .his-list li {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.history .his-list li .his-list2 {
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
}
.history .his-list li:nth-child(even) .date {
  background-color: #4f93cf;
}
.history .his-list li:nth-child(even) .date .line {
  background: #4f93cf;
}
.history .his-list li:nth-child(even) .date .line::after {
  background-color: #4f93cf;
}
.history .his-list .date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #162c89;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  position: relative;
}
.history .his-list .date .line {
  width: 1px;
  height: 200px;
  background: #162c89;
  position: absolute;
  left: 0;
  bottom: 38px;
}
.history .his-list .date .line::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #162c89;
  position: absolute;
  top: 0;
  left: -3px;
}

.vision-list {
  margin-top: 60px;
  display: flex;
  background: url(../img/vision_bg.png);
  background-size: cover;
}
.vision-list li {
  height: 270px;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: 0.2s;
}
.vision-list li:hover {
  background-color: #fff;
  box-shadow: 0 0 0 2px #333;
}
.vision-list li:hover h5 {
  color: #0380b3;
}
.vision-list li h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}
.vision-list li p {
  font-size: 16px;
  font-weight: 500;
}
.vision-list li span {
  color: #888;
  font-weight: bold;
  font-size: 16px;
  margin-top: auto;
}

footer {
  margin-top: 100px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 60px;
}

.scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 0;
  border: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.clickEmail {
  position: relative;
}

#notification {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.DeSEMS-title {
  margin-top: 20px;
  font-size: 20px;
  color: #162c89;
}
.DeSEMS-subTitle {
  color: #111;
  margin-top: 5px;
  font-size: 16px;
}
.DeSEMS-content {
  color: #888;
  margin-top: 5px;
  font-size: 14px;
}
.DeSEMS-img {
  max-width: 800px;
  margin: 20px auto;
  max-height: 500px;
}/*# sourceMappingURL=style.css.map */